#master-outline {
  fill: $color__red;
}
#boat {
  fill: $color__red;
}
#fins {
  fill: #fff;
}
#inner-circle {
  fill: #fff;
}
#outer-circle {
  fill: #fff;
}
#houses {
  fill: $color__red;
}
#school-name {
  fill:#fff;
}
#school-number {
  fill: $color__red;
}
#school-number-text {
  fill: #fff;
}

@include bp-small {
  #master-outline {
    fill: #fff;
  }
  #boat {
    fill: $color__red;
  }
  #fins {
    fill: $color__red;
  }
  #inner-circle {
    fill: #fff;
  }
  #outer-circle {
    fill: green !important;
  }
  #houses {
    fill: #fff;
  }
  #school-name {
    fill: $color__red;
  }
  #school-number {
    fill: $color__red;
  }
  #school-number-text {
    fill: #fff;
  }
}