[class^="icon-"], [class*=" icon-"], figure figcaption:before, .search-form .btn-submit:before, .search-form .btn-opener:before, .btn-find-out a:before, .breadcrumbs li:first-child a:before, .share-widget span:before, .cycle-gallery .btn-next:before, .cycle-gallery .btn-prev:before, #nav > ul > li.active > .drop-slider .prev:before, #nav > ul > li.active > .drop-slider .next:before, #nav > ul > li:first-child > a:before, #nav > ul a.has-drop-down-a:before, #nav > ul ul .has-drop-down > a:before, .drop-heading > a:first-child:after, .quick-menu:after, .quick-menu > a:after, .color-box .img-caption:before, .news-filter .opener:after, .video-box:before, .gallery-box:before, .load-more-button span:after, .contact-list li:after, .tab-select .opener:after, .search-support button:before, .help-box .tel:before, .tab-help a:before, .members-list .open-holder:after {
  font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}



ul, .breadcrumbs, .tagcloud, .social-head, .top-nav, .top-nav ul, #nav > ul, #nav > ul ul, .quick-menu ul, .tabset, .news-filter ul, .news-item .meta-info ul, .content-holder .page-list, .thumbnails-list, .tribe-events-cal-links ul, .list-sponsors, .tribe-events-notices ul, .link-list, .list-popular ul, .option-list, .list-post, .share-list, .contact-list, .tabs-list, .search-section .link-page, .accordion, .tab-help, .list-link, .members-list, .question-list, .keydate-list, .important-list, .result-box .results-breadcrumb ul, .filter-box .filter-list, .contact-tabs .tab-content .accordion, .social-networks, .fourcolumns .cols ul, .bottom-nav ul, .copyright .links-holder {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li, .breadcrumbs li, .tagcloud li, .social-head li, .top-nav li, #nav > ul li, .quick-menu ul li, .tabset li, .news-filter ul li, .news-item .meta-info ul li, .content-holder .page-list li, .thumbnails-list li, .tribe-events-cal-links ul li, .list-sponsors li, .tribe-events-notices ul li, .link-list li, .list-popular ul li, .option-list li, .list-post li, .share-list li, .contact-list li, .tabs-list li, .search-section .link-page li, .accordion li, .tab-help li, .list-link li, .members-list li, .question-list li, .keydate-list li, .important-list li, .result-box .results-breadcrumb ul li, .filter-box .filter-list li, .contact-tabs .tab-content .accordion li, .social-networks li, .fourcolumns .cols ul li, .contact-info li, .bottom-nav ul li, .copyright .links-holder li {
    list-style-type: none; }
    ul li:before, .breadcrumbs li:before, .tagcloud li:before, .social-head li:before, .top-nav li:before, #nav > ul li:before, .quick-menu ul li:before, .tabset li:before, .news-filter ul li:before, .news-item .meta-info ul li:before, .content-holder .page-list li:before, .thumbnails-list li:before, .tribe-events-cal-links ul li:before, .list-sponsors li:before, .tribe-events-notices ul li:before, .link-list li:before, .list-popular ul li:before, .option-list li:before, .list-post li:before, .share-list li:before, .contact-list li:before, .tabs-list li:before, .search-section .link-page li:before, .accordion li:before, .tab-help li:before, .list-link li:before, .members-list li:before, .question-list li:before, .keydate-list li:before, .important-list li:before, .result-box .results-breadcrumb ul li:before, .filter-box .filter-list li:before, .contact-tabs .tab-content .accordion li:before, .social-networks li:before, .fourcolumns .cols ul li:before, .contact-info li:before, .bottom-nav ul li:before, .copyright .links-holder li:before {
      display: none; }

.clearfix:after, dl:after, .widget:after, .search-holder:after, .search-form:after, .post-password-form p:after, .container:after, .weekly-box:after, .masonry-block:after, .item-block:after, .letest-block:after, .connect-block:after, .text-container:after, .faq-block:after, .content-block:after, .search-section:after, .social-head:after, .logo-holder:after, .popup-info .link-wrap:after, .twocolumns:after, .img-box-holder:after, .news-filter:after, .news-filter ul:after, .main-holder:after, .post-meta-info:after, .gallery-post .post-meta-info:after, .event-post .event-main-part:after, .subscribe-block .holder:after, .list-popular ul li:after, .list-popular ul li a:after, .article-post .holder-box:after, .option-list:after, .list-post:after, .share-box:after, .contact-box:after, .tabs-list:after, .search-section .link-page:after, .follow-box:after, .info-block:after, .apply-block .wrap-box:after, .faq-block .wrap-top:after, .faq-block .tab-select:after, .accordion .hold:after, .accordion .text-wrap:after, .help-box .wrap-tab:after, .help-box .phone-box:after, .form-help .wpcf7-list-item:after, .form-help .btn-wrap:after, .breadcrumbs-add:after, .content-block .breadcrumbs:after, .search-section .breadcrumbs:after, .calendar-section .breadcrumbs:after, .content-block .text-wrap:after, .search-section .text-wrap:after, .content-block .list-text:after, .search-section .list-text:after, .content-block .holder-text:after, .search-section .holder-text:after, .can-help:after, .news-section figure.two-img .wrap:after, .members-list .popup:after, .calendar-section .holder-box:after, .calendar-section #sidebar:after, .search-section .navigation:after, .result-box .results-breadcrumb:after, .search-page:after, .filter-holder:after, .filter-holder .filter-col:after, .select-form:after, .content-block .fsPage .fieldset-content:after, .search-section .fsPage .fieldset-content:after, .content-block .fsPage .fsRow:after, .search-section .fsPage .fsRow:after {
  content: '';
  display: block;
  clear: both; }



input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #0078d7;
  padding: 0.3em 0.6em;
  width: 100%; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #000; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #3f3f3f; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #3f3f3f; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #3f3f3f; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #3f3f3f; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #3f3f3f; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  border: none;
  outline: none; }


#content {
  overflow: hidden; }
  @media (max-width: 1023px) {
    #content {
      padding: 0;
      margin: 0 0 40px; } }
  @media (max-width: 767px) {
    #content {
      margin: 0 0 34px;
      overflow: visible; } }


.widget {
  margin-bottom: 1.3em;
  border-top: 3px solid #121314;
  padding: 17px 0;
  font-family: "Pressura", "Helvetica", sans-serif; }
  .widget:last-child {
    margin-bottom: 0; }
  @media (max-width: 1319px) {
    .widget {
      padding: 19px 0; } }
  @media (max-width: 767px) {
    .widget {
      padding: 21px 0; } }
  .widget h3 {
    font-size: 30px;
    line-height: 0.8;
    margin: 0 0 24px; }
    @media (max-width: 1023px) {
      .widget h3 {
        font-size: 37px; } }
    @media (max-width: 767px) {
      .widget h3 {
        margin: 0 0 31px; } }
    @media (max-width: 479px) {
      .widget h3 {
        font-size: 25px; } }
  .widget ul {
    padding-left: 1.2em; }
  .widget select {
    min-width: 150px;
    width: 100%; }

.comment-form label {
  display: block;
  padding-bottom: 4px; }

.comment-form textarea {
  overflow: auto;
  margin: 0;
  height: 120px;
  min-height: 120px; }

.comment-form textarea,
.comment-form input[type='text'] {
  margin: 0 4px 0 0; }

.comment-form input[type='submit'] {
  display: block;
  float: none; }

.post-password-form label {
  display: block; }

.post-password-form input[type='password'] {
  margin: 0 4px 0 0;
  max-width: 300px; }

.search-form {
  padding: 15px 0;
  position: relative; }
  .search-form .btn-submit,
  .search-form .btn-opener {
    text-decoration: none;
    background: none;
    border: none;
    position: absolute;
    right: 1px;
    top: 0;
    display: block;
    color: #353535;
    height: 40px;
    outline: none;
    width: 32px;
    padding: 0;
    font-size: 32px;
    min-width: 100%; }
    .search-form .btn-submit:before,
    .search-form .btn-opener:before {
      content: ""; }
    .search-form .btn-submit:after,
    .search-form .btn-opener:after {
      display: none; }
    .search-form .btn-submit:hover,
    .search-form .btn-opener:hover {
      color: #000; }
  @media (max-width: 1023px) {
    .search-form .btn-submit {
      display: none; }
      .search-active .search-form .btn-submit {
        display: block; } }
  .search-form .btn-opener {
    display: none; }
    @media (max-width: 1023px) {
      .search-form .btn-opener {
        display: block; }
        .search-active .search-form .btn-opener {
          display: none; } }
  .search-form input {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.25;
    color: #3f3f3f;
    border: none;
    max-width: 86px;
    outline: none;
    -webkit-transition: max-width 0.3s, box-shadow 0.3s;
            transition: max-width 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    padding: 0.3em 0 0.3em 0.6em;
    width: 100%; }
    @media (max-width: 1023px) {
      .search-form input {
        max-width: none; } }
    .search-form input:focus {
      max-width: 100%; }
  @media (max-width: 767px) {
    .search-form {
      width: 100%;
      margin: 0; } }
  .search-form .btn-area {
    float: right;
    position: relative;
    width: 32px;
    height: 42px;
    margin: 4px 5px 0 7px; }
  .search-form .slide {
    text-align: right;
    overflow: hidden;
    padding: 0 0 1px;
    float: right; }
    @media (max-width: 1023px) {
      .search-form .slide {
        float: none; } }
  .search-active .search-form {
    width: 100%;
    margin: 0; }
    .search-active .search-form .slide {
      display: block; }
    .search-active .search-form input[type="search"] {
      display: block !important; }
      @media (max-width: 1023px) {
        .search-active .search-form input[type="search"] {
          width: 100%; } }

.post-password-form input {
  float: left;
  height: 2em; }
  .post-password-form input[type='password'] {
    width: 150px; }

.commentlist {
  margin: 0 0 1.3em; }
  .commentlist .edit-link {
    margin: 0; }
  .commentlist .avatar-holder {
    float: left;
    margin: 0 1.3em 4px 0; }

.commentlist-item .commentlist-item {
  padding: 0; }
  @media (min-width: 1024px) {
    .commentlist-item .commentlist-item {
      padding: 0 0 0 2em; } }

.comment,
.commentlist-holder {
  overflow: hidden; }

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
  padding-top: 1.3em; }

.widget_calendar #next {
  text-align: right; }

.gallery-item dt {
  float: none;
  padding: 0; }

.navigation {
  overflow: hidden;
  margin: 0 0 1.3em;
  text-align: center; }
  .navigation .next {
    float: left;
    max-width: 50%; }
  .navigation .prev {
    float: right;
    max-width: 50%;
    text-align: right; }
  .navigation .page-numbers {
    padding: 0 5px; }
  .navigation .prev,
  .navigation .next {
    padding: 0; }

.screen-reader-text {
  position: absolute;
  left: -9999px;
  overflow: hidden; }

.wp-caption {
  max-width: 100%;
  clear: both;
  border: 1px solid #999;
  padding: .4em;
  margin-bottom: 1.3em;
  text-align: center; }
  .wp-caption img {
    margin: 0;
    vertical-align: top; }
  .wp-caption p {
    margin: .4em 0 0; }

div.aligncenter {
  margin: 0 auto 1.3em; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left;
  margin: 0 1.3em 4px 0; }

.alignright {
  float: right;
  margin: 0 0 4px 1.3em; }

.mejs-container {
  margin-bottom: 1.3em; }

.widget_calendar table {
  margin-left: auto;
  margin-right: auto; }

.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
  height: auto; }



.breadcrumbs {
  font-size: 0;
  margin: 0 0 38px;
  color: #666;
  font-family: "Pressura", "Helvetica", sans-serif; }
  @media (max-width: 1319px) {
    .breadcrumbs {
      margin: 0 0 22px; } }
  @media (max-width: 767px) {
    .breadcrumbs {
      margin: 0 0 27px; } }
  .breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    line-height: 1;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin: 0 15px 0 0; }
    @media (max-width: 1319px) {
      .breadcrumbs li {
        margin: 0 13px 0 0; } }
    .breadcrumbs li:first-child a {
      padding: 16px 21px; }
      @media (max-width: 1319px) {
        .breadcrumbs li:first-child a {
          padding: 17px 22px; } }
      @media (max-width: 1023px) {
        .breadcrumbs li:first-child a {
          padding: 16px 21px; } }
      @media (max-width: 767px) {
        .breadcrumbs li:first-child a {
          padding: 18px 26px; } }
      .breadcrumbs li:first-child a:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        font-size: 11px;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        margin: -4px 12px 0 -9px; }
    .breadcrumbs li em {
      font-style: normal;
      text-transform: none; }
  .breadcrumbs a {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    text-decoration: none;
    padding: 15px;
    background: #dadada;
    -webkit-transition: color 0.3s, background 0.3s;
            transition: color 0.3s, background 0.3s; }
    @media (max-width: 1319px) {
      .breadcrumbs a {
        padding: 13px; } }
    @media (max-width: 767px) {
      .breadcrumbs a {
        font-size: 20px; } }
    .breadcrumbs a:hover {
      color: #fff;
      background: #004fa0; }

.tagcloud {
  font-size: 0; }
  .tagcloud a {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-transform: capitalize;
    padding: 3px 15px 6px;
    border-radius: 10px;
    margin: 0 10px 8px 0;
    background: #f1f1f1;
    line-height: 1;
    text-align: center;
    color: #484f53;
    text-decoration: none; }
    @media (max-width: 1319px) {
      .tagcloud a {
        margin: 0 7px 8px 0;
        padding: 2px 19px 5px; } }
    @media (max-width: 1023px) {
      .tagcloud a {
        margin: 0 12px 8px 0;
        padding: 2px 15px 5px; } }
    @media (max-width: 767px) {
      .tagcloud a {
        font-size: 24px;
        margin: 0 13px 12px 0;
        padding: 5px 23px 6px; } }
    @media (max-width: 479px) {
      .tagcloud a {
        font-size: 16px;
        padding: 3px 10px 5px;
        margin: 0 7px 7px 0; } }
    .tagcloud a:hover {
      color: #004fa0; }

.share-widget {
  max-width: 252px; }
  @media (max-width: 1319px) {
    .share-widget {
      margin-right: auto;
      margin-left: 0; } }
  @media (max-width: 1023px) {
    .share-widget {
      max-width: 312px; } }
  .share-widget .share-items {
    font-size: 0;
    margin: 0 -2px; }
  .share-widget span {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    font-size: 15px;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    font-family: "Pressura", "Helvetica", sans-serif;
    font-weight: 600;
    cursor: pointer; }
    @media (max-width: 1023px) {
      .share-widget span {
        font-size: 19px; } }
    @media (max-width: 479px) {
      .share-widget span {
        font-size: 16px; } }
    .share-widget span:before {
      width: 60px;
      height: 60px;
      font-size: 30px;
      line-height: 60px;
      text-align: center;
      color: #fff;
      display: block;
      margin: 0 0 5px;
      background: #adadad;
      -webkit-transition: background 0.3s;
              transition: background 0.3s; }
      @media (max-width: 1023px) {
        .share-widget span:before {
          width: 75px;
          height: 75px;
          line-height: 75px;
          font-size: 40px; } }
      @media (max-width: 479px) {
        .share-widget span:before {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 30px; } }
  .share-widget .st_facebook_custom:hover:before {
    background: #004fa0; }
  .share-widget .st_twitter_custom:hover:before {
    background: #55acee; }
  .share-widget .st_linkedin_custom:hover:before {
    background: #00a0dc; }
  .share-widget .st_email_custom:hover:before {
    background: #dd5143; }
  .share-widget.alt-style {
    border: none; }
    .share-widget.alt-style span:before {
      margin: 0;
      background: #4b4b4b; }
    .share-widget.alt-style .share-items {
      padding-top: 10px; }

.cycle-gallery {
  position: relative;
  width: 100%; }
  .cycle-gallery .mask {
    position: relative;
    overflow: hidden;
    padding-right: 67px; }
    @media (max-width: 1319px) {
      .cycle-gallery .mask {
        padding-right: 82px; } }
    @media (max-width: 1023px) {
      .cycle-gallery .mask {
        padding-right: 84px; } }
    @media (max-width: 767px) {
      .cycle-gallery .mask {
        padding: 0; } }
    .cycle-gallery .mask .slideset {
      max-width: 99999px;
      float: left; }
    .cycle-gallery .mask .slide {
      float: left; }
  .cycle-gallery .active {
    z-index: 1; }
  .cycle-gallery .control-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 67px;
    height: 100%;
    background: #343434;
    z-index: 100;
    padding: 0 5px; }
    @media (max-width: 1319px) {
      .cycle-gallery .control-panel {
        width: 82px; } }
    @media (max-width: 1023px) {
      .cycle-gallery .control-panel {
        width: 84px; } }
    @media (max-width: 767px) {
      .cycle-gallery .control-panel {
        position: static;
        width: auto;
        height: auto;
        padding: 7px 9px 6px; } }
    @media (max-width: 479px) {
      .cycle-gallery .control-panel {
        padding: 6px 9px 6px; } }
    .cycle-gallery .control-panel:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1px;
      height: 100%;
      margin-right: -5px; }
  .cycle-gallery .control-box {
    display: inline-block;
    vertical-align: middle;
    vertical-align: top;
    margin-top: 100px;
    width: 97%;
    padding: 6px 0 0; }
    @media (max-width: 1319px) {
      .cycle-gallery .control-box {
        vertical-align: top;
        padding: 0px 3px 0 0; } }
    @media (max-width: 1023px) {
      .cycle-gallery .control-box {
        padding: 0px 12px 0 0; } }
    @media (max-width: 767px) {
      .cycle-gallery .control-box {
        width: auto;
        max-width: 99%;
        padding: 0;
        margin: 0; } }
  .cycle-gallery .btn-next,
  .cycle-gallery .btn-prev {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #484848;
    display: block;
    margin: 0 auto 8px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color 0.3s, background 0.3s;
            transition: color 0.3s, background 0.3s; }
    @media (max-width: 767px) {
      .cycle-gallery .btn-next,
      .cycle-gallery .btn-prev {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 0; } }
    @media (max-width: 479px) {
      .cycle-gallery .btn-next,
      .cycle-gallery .btn-prev {
        width: 40px;
        height: 40px; } }
    .cycle-gallery .btn-next:before,
    .cycle-gallery .btn-prev:before {
      display: block;
      line-height: 48px;
      font-size: 30px;
      text-indent: 0; }
      @media (max-width: 479px) {
        .cycle-gallery .btn-next:before,
        .cycle-gallery .btn-prev:before {
          font-size: 20px;
          line-height: 40px; } }
    .cycle-gallery .btn-next:hover,
    .cycle-gallery .btn-prev:hover {
      background: #fff;
      color: #484848; }
  @media (max-width: 767px) {
    .cycle-gallery .btn-next {
      float: right; } }
  .cycle-gallery .btn-next:before {
    content: ""; }
  .cycle-gallery .btn-prev:before {
    content: ""; }
  .cycle-gallery .buttons {
    font-size: 0;
    margin: 0 0 36px; }
    @media (max-width: 767px) {
      .cycle-gallery .buttons {
        display: inline-block;
        vertical-align: middle;
        margin: 0 23px 0 0;
        float: left; } }
    @media (max-width: 479px) {
      .cycle-gallery .buttons {
        margin: 0 15px 0 0; } }
  @media (max-width: 767px) {
    .cycle-gallery .social-connect {
      overflow: hidden;
      padding: 4px 0 0;
      float: left; } }
  @media (max-width: 767px) {
    .cycle-gallery .slides-count {
      float: right;
      margin: 4px 0 0 9px; } }

.slides-count {
  font-size: 15px;
  color: #adadad;
  margin: 7px 0 16px;
  line-height: 1;
  text-align: center; }
  .slides-count .current-slide {
    color: #fff; }

.social-connect {
  font-size: 0; }
  .social-connect span {
    width: 40px;
    height: 40px;
    background: #4b4b4b;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 0 auto 3px;
    cursor: pointer;
    display: block;
    -webkit-transition: color 0.3s, background 0.3s;
            transition: color 0.3s, background 0.3s; }
    @media (max-width: 767px) {
      .social-connect span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 5px;
        width: 41px;
        height: 41px; } }
    @media (max-width: 479px) {
      .social-connect span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 0 3px 3px; } }
    .social-connect span:hover {
      background: #fff;
      color: #4b4b4b; }
  .social-connect .st_facebook_custom {
    font-size: 25px; }

.bg-stretch {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }
  .bg-stretch img {
    vertical-align: top;
    max-width: none; }

.btn {
  text-transform: uppercase;
  color: #fff;
  background: #dd0727;
  letter-spacing: normal;
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
  min-width: 262px;
  padding: 24px 10px 26px;
  margin: 0 12px 5px;
  display: inline-block;
  font: 700 25px/1.2 "Pressura", "Helvetica", sans-serif; }
  .btn:hover {
    background: #ac051e;
    color: #fff; }
  .btn.blue {
    background: #00aef0; }
    .btn.blue:hover {
      background: #0089bd; }





@media (max-width: 1023px) {
  .news-individual .share-widget {
    margin-left: 0;
    margin-right: auto; } }

@media (max-width: 1319px) {
  .hide-widescreen {
    display: none; } }

@media (max-width: 1023px) {
  .hide-tablet {
    display: none; } }

.show-mobile {
  display: none !important; }
  @media (max-width: 1023px) {
    .show-mobile {
      display: none !important; } }
  @media (max-width: 767px) {
    .show-mobile {
      display: block !important; } }

@media (max-width: 767px) {
  .hide-mobile {
    display: none; } }

.hide-desktop {
  display: none; }
  @media (max-width: 767px) {
    .hide-desktop {
      display: block; } }

.search-block {
  background: #004fa0;
  text-align: center;
  padding: 80px 0 58px; }
  @media (max-width: 1319px) {
    .search-block {
      padding: 67px 0 58px; } }
  @media (max-width: 1023px) {
    .search-block {
      padding: 81px 0 58px; } }
  @media (max-width: 767px) {
    .search-block {
      padding: 52px 0 63px; } }
  .search-block h1 {
    font-size: 46px;
    line-height: 1.2;
    margin: 0 0 51px;
    color: #fff; }
    @media (max-width: 767px) {
      .search-block h1 {
        font-size: 32px;
        margin: 0 0 35px;
        line-height: 1.2; } }

.main-content {
  background: #f4f4f4;
  padding: 0 0 155px; }
  @media (max-width: 1319px) {
    .main-content {
      padding: 0 0 47px; } }
  @media (max-width: 1023px) {
    .main-content {
      padding: 0 0 143px; } }
  @media (max-width: 767px) {
    .main-content {
      padding: 0 0 125px; } }
  .main-content .full-block {
    padding: 0; }
    .main-content .full-block .container, .main-content .full-block .weekly-box, .main-content .full-block .masonry-block, .main-content .full-block .item-block, .main-content .full-block .letest-block, .main-content .full-block .connect-block, .main-content .full-block .text-container, .main-content .full-block .faq-block, .main-content .full-block .content-block, .main-content .full-block .search-section {
      padding: 0; }
  @media (max-width: 1319px) {
    .main-content .img-frame {
      margin: 0; } }
  .main-content .img-frame img {
    width: 100%; }
  .main-content .btn-main {
    padding: 23px 86px 29px 25px;
    bottom: 0;
    font-size: 45px;
    top: auto;
    left: -24px; }
    @media (max-width: 1319px) {
      .main-content .btn-main {
        padding: 25px 116px 29px 25px;
        min-width: 661px; } }
    @media (max-width: 1023px) {
      .main-content .btn-main {
        left: 0;
        font-size: 42px;
        min-width: 503px;
        padding: 16px 34px 19px 15px; } }
    @media (max-width: 767px) {
      .main-content .btn-main {
        position: absolute;
        bottom: 6px;
        max-width: 503px;
        min-width: 1px;
        padding: 18px 15px 20px; } }
    @media (max-width: 479px) {
      .main-content .btn-main {
        font-size: 25px;
        padding: 15px 30px; } }