[class^="icon-"], [class*=" icon-"], figure figcaption:before, .search-form .btn-submit:before, .search-form .btn-opener:before, .btn-find-out a:before, .breadcrumbs li:first-child a:before, .share-widget span:before, .cycle-gallery .btn-next:before, .cycle-gallery .btn-prev:before, #nav > ul > li.active > .drop-slider .prev:before, #nav > ul > li.active > .drop-slider .next:before, #nav > ul > li:first-child > a:before, #nav > ul a.has-drop-down-a:before, #nav > ul ul .has-drop-down > a:before, .drop-heading > a:first-child:after, .quick-menu:after, .quick-menu > a:after, .color-box .img-caption:before, .news-filter .opener:after, .video-box:before, .gallery-box:before, .load-more-button span:after, .contact-list li:after, .tab-select .opener:after, .search-support button:before, .help-box .tel:before, .tab-help a:before, .members-list .open-holder:after {
  font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}



ul, .breadcrumbs, .tagcloud, .social-head, .top-nav, .top-nav ul, #nav > ul, #nav > ul ul, .quick-menu ul, .tabset, .news-filter ul, .news-item .meta-info ul, .content-holder .page-list, .thumbnails-list, .tribe-events-cal-links ul, .list-sponsors, .tribe-events-notices ul, .link-list, .list-popular ul, .option-list, .list-post, .share-list, .contact-list, .tabs-list, .search-section .link-page, .accordion, .tab-help, .list-link, .members-list, .question-list, .keydate-list, .important-list, .result-box .results-breadcrumb ul, .filter-box .filter-list, .contact-tabs .tab-content .accordion, .social-networks, .fourcolumns .cols ul, .bottom-nav ul, .copyright .links-holder {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li, .breadcrumbs li, .tagcloud li, .social-head li, .top-nav li, #nav > ul li, .quick-menu ul li, .tabset li, .news-filter ul li, .news-item .meta-info ul li, .content-holder .page-list li, .thumbnails-list li, .tribe-events-cal-links ul li, .list-sponsors li, .tribe-events-notices ul li, .link-list li, .list-popular ul li, .option-list li, .list-post li, .share-list li, .contact-list li, .tabs-list li, .search-section .link-page li, .accordion li, .tab-help li, .list-link li, .members-list li, .question-list li, .keydate-list li, .important-list li, .result-box .results-breadcrumb ul li, .filter-box .filter-list li, .contact-tabs .tab-content .accordion li, .social-networks li, .fourcolumns .cols ul li, .contact-info li, .bottom-nav ul li, .copyright .links-holder li {
    list-style-type: none; }
    ul li:before, .breadcrumbs li:before, .tagcloud li:before, .social-head li:before, .top-nav li:before, #nav > ul li:before, .quick-menu ul li:before, .tabset li:before, .news-filter ul li:before, .news-item .meta-info ul li:before, .content-holder .page-list li:before, .thumbnails-list li:before, .tribe-events-cal-links ul li:before, .list-sponsors li:before, .tribe-events-notices ul li:before, .link-list li:before, .list-popular ul li:before, .option-list li:before, .list-post li:before, .share-list li:before, .contact-list li:before, .tabs-list li:before, .search-section .link-page li:before, .accordion li:before, .tab-help li:before, .list-link li:before, .members-list li:before, .question-list li:before, .keydate-list li:before, .important-list li:before, .result-box .results-breadcrumb ul li:before, .filter-box .filter-list li:before, .contact-tabs .tab-content .accordion li:before, .social-networks li:before, .fourcolumns .cols ul li:before, .contact-info li:before, .bottom-nav ul li:before, .copyright .links-holder li:before {
      display: none; }

.clearfix:after, dl:after, .widget:after, .search-holder:after, .search-form:after, .post-password-form p:after, .container:after, .weekly-box:after, .masonry-block:after, .item-block:after, .letest-block:after, .connect-block:after, .text-container:after, .faq-block:after, .content-block:after, .search-section:after, .social-head:after, .logo-holder:after, .popup-info .link-wrap:after, .twocolumns:after, .img-box-holder:after, .news-filter:after, .news-filter ul:after, .main-holder:after, .post-meta-info:after, .gallery-post .post-meta-info:after, .event-post .event-main-part:after, .subscribe-block .holder:after, .list-popular ul li:after, .list-popular ul li a:after, .article-post .holder-box:after, .option-list:after, .list-post:after, .share-box:after, .contact-box:after, .tabs-list:after, .search-section .link-page:after, .follow-box:after, .info-block:after, .apply-block .wrap-box:after, .faq-block .wrap-top:after, .faq-block .tab-select:after, .accordion .hold:after, .accordion .text-wrap:after, .help-box .wrap-tab:after, .help-box .phone-box:after, .form-help .wpcf7-list-item:after, .form-help .btn-wrap:after, .breadcrumbs-add:after, .content-block .breadcrumbs:after, .search-section .breadcrumbs:after, .calendar-section .breadcrumbs:after, .content-block .text-wrap:after, .search-section .text-wrap:after, .content-block .list-text:after, .search-section .list-text:after, .content-block .holder-text:after, .search-section .holder-text:after, .can-help:after, .news-section figure.two-img .wrap:after, .members-list .popup:after, .calendar-section .holder-box:after, .calendar-section #sidebar:after, .search-section .navigation:after, .result-box .results-breadcrumb:after, .search-page:after, .filter-holder:after, .filter-holder .filter-col:after, .select-form:after, .content-block .fsPage .fieldset-content:after, .search-section .fsPage .fieldset-content:after, .content-block .fsPage .fsRow:after, .search-section .fsPage .fsRow:after {
  content: '';
  display: block;
  clear: both; }



input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #0078d7;
  padding: 0.3em 0.6em;
  width: 100%; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #000; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #3f3f3f; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #3f3f3f; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #3f3f3f; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #3f3f3f; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #3f3f3f; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  border: none;
  outline: none; }


#content {
  overflow: hidden; }
  @media (max-width: 1023px) {
    #content {
      padding: 0;
      margin: 0 0 40px; } }
  @media (max-width: 767px) {
    #content {
      margin: 0 0 34px;
      overflow: visible; } }


.widget {
  margin-bottom: 1.3em;
  border-top: 3px solid #121314;
  padding: 17px 0;
  font-family: "Pressura", "Helvetica", sans-serif; }
  .widget:last-child {
    margin-bottom: 0; }
  @media (max-width: 1319px) {
    .widget {
      padding: 19px 0; } }
  @media (max-width: 767px) {
    .widget {
      padding: 21px 0; } }
  .widget h3 {
    font-size: 30px;
    line-height: 0.8;
    margin: 0 0 24px; }
    @media (max-width: 1023px) {
      .widget h3 {
        font-size: 37px; } }
    @media (max-width: 767px) {
      .widget h3 {
        margin: 0 0 31px; } }
    @media (max-width: 479px) {
      .widget h3 {
        font-size: 25px; } }
  .widget ul {
    padding-left: 1.2em; }
  .widget select {
    min-width: 150px;
    width: 100%; }

.comment-form label {
  display: block;
  padding-bottom: 4px; }

.comment-form textarea {
  overflow: auto;
  margin: 0;
  height: 120px;
  min-height: 120px; }

.comment-form textarea,
.comment-form input[type='text'] {
  margin: 0 4px 0 0; }

.comment-form input[type='submit'] {
  display: block;
  float: none; }

.post-password-form label {
  display: block; }

.post-password-form input[type='password'] {
  margin: 0 4px 0 0;
  max-width: 300px; }

.search-form {
  padding: 15px 0;
  position: relative; }
  .search-form .btn-submit,
  .search-form .btn-opener {
    text-decoration: none;
    background: none;
    border: none;
    position: absolute;
    right: 1px;
    top: 0;
    display: block;
    color: #353535;
    height: 40px;
    outline: none;
    width: 32px;
    padding: 0;
    font-size: 32px;
    min-width: 100%; }
    .search-form .btn-submit:before,
    .search-form .btn-opener:before {
      content: ""; }
    .search-form .btn-submit:after,
    .search-form .btn-opener:after {
      display: none; }
    .search-form .btn-submit:hover,
    .search-form .btn-opener:hover {
      color: #000; }
  @media (max-width: 1023px) {
    .search-form .btn-submit {
      display: none; }
      .search-active .search-form .btn-submit {
        display: block; } }
  .search-form .btn-opener {
    display: none; }
    @media (max-width: 1023px) {
      .search-form .btn-opener {
        display: block; }
        .search-active .search-form .btn-opener {
          display: none; } }
  .search-form input {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.25;
    color: #3f3f3f;
    border: none;
    max-width: 86px;
    outline: none;
    -webkit-transition: max-width 0.3s, box-shadow 0.3s;
            transition: max-width 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    padding: 0.3em 0 0.3em 0.6em;
    width: 100%; }
    @media (max-width: 1023px) {
      .search-form input {
        max-width: none; } }
    .search-form input:focus {
      max-width: 100%; }
  @media (max-width: 767px) {
    .search-form {
      width: 100%;
      margin: 0; } }
  .search-form .btn-area {
    float: right;
    position: relative;
    width: 32px;
    height: 42px;
    margin: 4px 5px 0 7px; }
  .search-form .slide {
    text-align: right;
    overflow: hidden;
    padding: 0 0 1px;
    float: right; }
    @media (max-width: 1023px) {
      .search-form .slide {
        float: none; } }
  .search-active .search-form {
    width: 100%;
    margin: 0; }
    .search-active .search-form .slide {
      display: block; }
    .search-active .search-form input[type="search"] {
      display: block !important; }
      @media (max-width: 1023px) {
        .search-active .search-form input[type="search"] {
          width: 100%; } }

.post-password-form input {
  float: left;
  height: 2em; }
  .post-password-form input[type='password'] {
    width: 150px; }

.commentlist {
  margin: 0 0 1.3em; }
  .commentlist .edit-link {
    margin: 0; }
  .commentlist .avatar-holder {
    float: left;
    margin: 0 1.3em 4px 0; }

.commentlist-item .commentlist-item {
  padding: 0; }
  @media (min-width: 1024px) {
    .commentlist-item .commentlist-item {
      padding: 0 0 0 2em; } }



.navigation {
  overflow: hidden;
  margin: 0 0 1.3em;
  text-align: center; }
  .navigation .next {
    float: left;
    max-width: 50%; }
  .navigation .prev {
    float: right;
    max-width: 50%;
    text-align: right; }
  .navigation .page-numbers {
    padding: 0 5px; }
  .navigation .prev,
  .navigation .next {
    padding: 0; }



.search-block {
  background: #004fa0;
  text-align: center;
  padding: 80px 0 58px; }
  @media (max-width: 1319px) {
    .search-block {
      padding: 67px 0 58px; } }
  @media (max-width: 1023px) {
    .search-block {
      padding: 81px 0 58px; } }
  @media (max-width: 767px) {
    .search-block {
      padding: 52px 0 63px; } }
  .search-block h1 {
    font-size: 46px;
    line-height: 1.2;
    margin: 0 0 51px;
    color: #fff; }
    @media (max-width: 767px) {
      .search-block h1 {
        font-size: 32px;
        margin: 0 0 35px;
        line-height: 1.2; } }

.main-content {
  background: #f4f4f4;
  padding: 0 0 155px; }
  @media (max-width: 1319px) {
    .main-content {
      padding: 0 0 47px; } }
  @media (max-width: 1023px) {
    .main-content {
      padding: 0 0 143px; } }
  @media (max-width: 767px) {
    .main-content {
      padding: 0 0 125px; } }
  .main-content .full-block {
    padding: 0; }
    .main-content .full-block .container, .main-content .full-block .weekly-box, .main-content .full-block .masonry-block, .main-content .full-block .item-block, .main-content .full-block .letest-block, .main-content .full-block .connect-block, .main-content .full-block .text-container, .main-content .full-block .faq-block, .main-content .full-block .content-block, .main-content .full-block .search-section {
      padding: 0; }
  @media (max-width: 1319px) {
    .main-content .img-frame {
      margin: 0; } }
  .main-content .img-frame img {
    width: 100%; }
  .main-content .btn-main {
    padding: 23px 86px 29px 25px;
    bottom: 0;
    font-size: 45px;
    top: auto;
    left: -24px; }
    @media (max-width: 1319px) {
      .main-content .btn-main {
        padding: 25px 116px 29px 25px;
        min-width: 661px; } }
    @media (max-width: 1023px) {
      .main-content .btn-main {
        left: 0;
        font-size: 42px;
        min-width: 503px;
        padding: 16px 34px 19px 15px; } }
    @media (max-width: 767px) {
      .main-content .btn-main {
        position: absolute;
        bottom: 6px;
        max-width: 503px;
        min-width: 1px;
        padding: 18px 15px 20px; } }
    @media (max-width: 479px) {
      .main-content .btn-main {
        font-size: 25px;
        padding: 15px 30px; } }