.contact-footer {
	background: $color__cream;
	position: relative;
  // width: 100vw;
  // left: calc(-50vw + 50%);
  margin-top: 0;
  padding: 0 0 40px 0;

  @include clearfix();

  & > .inner {
  	// padding: 20px 26px !important;
  	// max-width: 1366px;

  	div {
  	@include bp-small {
  		float: left;
  		padding-right: 60px;
  		max-width: 270px;
  	}

    @include bp-medium {
      max-width: 400px;
    }
  }

  }

  h3 {
  	font-family: 'gt_walsheimbold' !important;
    font-size: 1.5rem !important;
    color: $color__red;

  	@include bp-small {
  		margin-bottom: 0;
  	}
  }
  h4 {
  	color: $color__red;
  	font-size: 1.3rem;
  	font-family: 'gt_walsheimmedium';
  	margin-bottom: 5px;
  }

  p {
  	margin-top: 0;
    font-size: 1.3rem;
  }

  a {
  	display: inline-block;
  	background: $color__blue;
  	color: #fff;
  	font-family: 'gt_walsheimmedium';
  	padding: 8px 15px;
  	text-decoration: none;
  	transition: all ease 300ms;

  	&:hover {
  		// text-decoration: underline;
  		color: #fff;
  		background: lighten($color__blue, 20%);
  	}
  }

  

}