.template_home {
	.site-content {

		& > .inner {
			padding: 0;
			width: 100%;
			max-width: 100%;
		}

		header {

		}
	}

	.entry-content {
		padding-bottom: 40px;

		.inner {
			padding: 0 20px;

			@include bp-small {
				padding: 20px;
			}
		}
	}
}


.frontpage-hero {
	position: relative;


}



.site-headline {
	position: relative;
	color: #fff;
	background: $color__red;
	padding: 20px;
	margin-top: -8px;
	text-align: center;

	@include bp-small {
		position: absolute;
		bottom: 80px;
		background: rgba($color__blue, .4);
		padding: 33px 60px 33px 74px;
    text-align: left;
    width: 50%;
    min-width: 680px;
	}

	h2 {
    font-family: 'gt_walsheimbold';
    font-size: 2rem;
    line-height: 2.1rem;
    margin: 0;

    @include bp-small {
    	font-size: 3.5rem;
    	line-height: 3rem;
    }
	}

	h3 {
		font-family: 'gt_walsheimlight';
    font-size: 1.5rem;
    margin: 0;

   	@include bp-small {
    	font-size: 2rem;
    }
	}

}
.home .site-content .frontpage-header {
		background: $color__blue;

		.inner {
			padding: 0;
		}
	}

.love-school {
	background: $color__blue;
	color: #fff;
	padding: 40px 20px;
	text-align: center;

	@include bp-small {
		padding: 50px 20px;
	}

	.inner {
		padding: 0;

		@include bp-small {
			padding: 20px;
		}
	}

	h4 {
		font-size: 3rem;
		line-height: 3.1rem;
		margin: 0 0 10px 0;
		// font-family: $font__script;
		letter-spacing: 1px;
		font-weight: normal;
	}

	h5 {
		font-size: 1.6rem;
		font-family: 'gt_walsheimlight';
		margin: 5px 0 30px;
		color: #e4e6e7;
	}
}

.love-school-tiles {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;

	@include clearfix();

	div {
		width: 100%;
		position: relative;

		@include bp-small {
			width: calc(50% - 5px);
		}

		.text-link {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 99;
			text-decoration: none;
			font-family: 'gt_walsheimbold';
			color: #fff;
			background: rgba($color__blue, 0.7);
			height: 5.5rem;
			line-height: 5.5rem; 
			font-size: 2.75rem;
			transition: all ease 300ms;
		}
	}

	@include bp-small {
		& .tile1 {
			float: left;
		}

		& .tile2 {
			float: right;
		}
	}

	.tile2 .text-link {
		background: rgba($color__red, 0.7);
	}

	.tile1 a.text-link:hover {
		background: $color__blue;
	}

	.tile2 a.text-link:hover {
		background: $color__red;
	}

	img {
		width: 100%;
		height: auto;
		z-index: 10;
	}

}


.whats-new {
	text-align: center;
	padding-top: 40px;

	h4 {
		font-size: 3rem;
		line-height: 3.1rem;
		margin: 0 0 10px 0;
		// font-family: $font__script;
		color: $color__red;
		letter-spacing: 1px;
		font-weight: normal;
	}

	h5 {
		font-size: 1.6rem;
		font-family: 'gt_walsheimlight';
		margin: 5px 0 30px;
	}
	a {
		text-decoration: none;
	}
}

.front-page-section1 {
	background: $color__blue;
}