.page-template-default {

	article header {
		background: $color__cream;
		position: relative;
    // width: 100vw;
    // left: calc(-50vw + 50%);
    // margin-top: 0;
    // padding: 0 20px 10px 20px;
  }

  h1.page-title {
	color: $color__blue;
	margin: 0;
	padding-top: 20px;

	@include bp-small {
		margin: -20px auto 20px;
		padding-top: 70px;
	}
}

  .site-content {
  	background: #fff;
  }
}
.page-content {
	

    @include bp-small {
    	// padding-top: 20px;
    }

}




body.page-template-default {


		& > #primary {
			margin-top: 0;
		}

		

	.intro-para {
		color: $color__red;
		font-size: 1.2em;
		line-height: 1.2em;
	}

	.entry-content {

		h3 {
			color: $color__red;
			font-family: 'gt_walsheimlight', 'Roboto', sans-serif;
			font-size: 1.3rem;
		}
		
		ul {
			margin-left: 2rem;

			li {
				list-style-type: disc;
			}
		}
	}


}

.entry-content table {
	border-width: 1px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	width: auto;

	th, td {
		border-width: 1px;
		padding: 8px;
		border-style: inset;
		border-color: gray;
	}

}