.related-footer {
  background: #fff;

  h3 {
    color: $color__red;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  ul {
    margin-left: 2em;
    margin-bottom: 30px;

    @include bp-small {
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
    }

    @include clearfix();

  }
  li {
    list-style-type: disc;

    @include bp-small {
      list-style-type: none;
      float: left;
      display: flex;
      // padding: 0 15px 0 0;
      width: 25%;
    }
  }

  a {
    color: $color__blue;
    text-decoration: none;
    transition: all ease 200ms;

    &:hover {
      text-decoration: underline;
    }

    @include bp-small {
      background: #e4e6e7;
      border-top: 5px solid $color__blue;
      text-align: center;
      padding: 40px 30px;
      margin: 0 15px 15px 0;
      font-family: 'gt_walsheimbold';
      display: inline-block;
      width: calc(100% * (1/4) - 10px - 1px);
      flex-grow: 1;
      font-size: 1.4rem;
      line-height: 1.6rem;

      &:hover {
        background: $color__blue;
        color: #fff;
        text-decoration: none;
      }
    }
  }


}