.single-post {
	background: $color__cream;
	position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  margin-top: 0;
  padding: 0;

  @include clearfix();

  .content-area {
    background: #fff;
    
    @include clearfix();

  }
  .site-content .inner {
    width: 100%;

    @include bp-large {
    	padding: 0 26px 20px 26px !important;
    	max-width: 1366px;
    }
  }

  .post-content {
    padding: 40px 40px 10px 40px;

    @include bp-small {
      width: 862 / 1366 * 100%;
      float: left;
    }
    .entry-title {
      color: $color__blue;
      margin-top: 0;
      // padding: 40px;
    }
  }

  .entry-content {
    padding: 0;
  }

  footer.site-footer .inner {
    background: $color__blue;
  }

  footer.site-footer .inner .policy-links .inner {
    background: $color__red;
  }

  .contact-footer {
    background: transparent;
    width: auto;
    left: auto;

    .inner {
      padding: 40px !important;
    }
  }
  .posted-on {
    text-transform: uppercase;
    color: $color__text-input;
    font-size: 0.75rem;
  }
}
.single-post .sidebar {
  width: 100%;
  padding: 0 40px;

  @include bp-small {
    width: 426 / 1366 * 100%;
    float: right;
    margin: 110px 40px 0 0;
    padding: 0;
  }

  h3 {
    font-family: $font__script;
    color: $color__red;
    font-size: 2.5rem;
  }
}