.template_standard {
	article header {
		background: $color__blue;
		position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    margin-top: 0;
    padding: 0 20px 10px 20px;

    @include bp-small {
    	padding-top: 20px;
    }

    .hero-image-page-mobile {
    	position: relative;
	    width: 100vw;
	    right: calc(50vw - 50%);
	    margin-top: 0;

	    @include bp-small {
	    	display: none;
	    }

    }

    .inner {
    	padding: 0 0 20px 0;
    }

    h1.page-title {
			color: #fff;
			margin-bottom: 0;

			@include bp-small {
				width:40%;
				margin-top: 90px;
			}
		}

	}

	article .entry-content {
    .hero-image-page-large {
    	display: none;
	    
	    @include bp-small {
	    	display: block;
	    	width: 555/1024 * 100%;
	    	max-width: 790px;
	    	position: relative;
	    	float: right;
	    	margin: -180px 0 20px 20px;
	    }

    }

    h1, h2, h3, h4, h5, h6, p {
    	clear: left;
    }


	}

	.entry-content > p:first-of-type {
		color: $color__red;
		font-size: 1.2em;
		line-height: 1.2em;
	}

	.site-content {

		.page-content {
			margin-top: 0;

			@include bp-small {
				padding-top: 0;
			}
		}

		.inner {
			padding-top: 0;
		}
	}
}