footer {
	border-top: 10px solid $color__red;
	background: $color__blue;

	& > div > div {
		padding: 20px;
		background: $color__blue;
		color: $color__text-on-blue;
	}
}
footer.site-footer {
	.inner {
		padding: 0;

		@include bp-small {
			// padding: 20px;
		}
	}
}
.contact-info {
	float: none;
	color: #fff;

	h3 {
		font-size: 1.4rem;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	@include bp-small {
		width: 323/768 * 100%;
		float: left;
	}

	@include bp-medium {
		width: 310/1024 * 100%;
	}

	@include bp-large {
		width: 321/1366 * 100%;
	}
}
.policy-links {
	background: $color__red;
	color: $color__text-on-red;
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
	padding-bottom: 0;

	p {
		margin: 0;

		@include bp-small {
			display: inline-block;
		}

		& + p::before {

			@include bp-small {
				content: " | "
			}
		}
	}

	@include bp-small {
		clear: both;
	}

	@include bp-medium {
		float: left;
		font-size: 0.8rem;
		padding-bottom: 20px;
	}
}
.site-info {
	background: $color__blue;
	color: $color__text-on-blue;
	padding: 20px;
	font-size: 0.8rem;
	text-align: center;
	margin: 20px -20px 0;

	@include bp-medium {
		float: right;
		background: transparent;
		padding: 0;
		margin: 0;
	}
}
.footer-nav {
	@include clearfix;

	@include bp-small {
		width: 445/768 * 100%;
		float: right;
	}

	@include bp-medium {
		width: 660/1024 * 100%;
	}

	@include bp-large {
		width: 990/1366 * 100%;
	}

	& section:nth-child(4) {
		@include bp-medium {
			clear: both;
		}

		@include bp-large {
			clear: none;
		}
	}
}
.footer-nav-container {
	display: block;
	margin-bottom: 15px;

	@include clearfix;
	
	h2 {
		color: #fff;
		margin: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin: 10px 0;

		@include bp-small {
			margin: 0;
		}
	}

	a {
		text-decoration: none;

		&:hover, &:visited {
			color: $color__link;
			text-decoration: underline;
		}
	}

	@include bp-small {
		float: left;
		width: 49%;
		padding: 10px;
	}

	@include bp-medium {
		width: 32%;
	}

	@include bp-large {
		width: 20%;
	}
}
.tel {
	font-size: 2rem;
	margin: 10px 0;
}
.social-icons object {
	width: 50px;
	height: auto;
}

.site-content .policy-links .inner,
.site-content footer .inner {
	padding: 0;
}
