.masthead-logo {
	height: 70px;
	width: auto;
	float: left;
	margin: 16px 20px 0 0;
}
.site-name {
	float: left;
}

.logo-container {
  float: left;
  padding: 0;
  margin: 0 0 0 75px;
}
  @media (max-width: 1319px) {
    .logo-container {

    	}
    }
  @media (max-width: 1023px) {
    .logo-container {
      
      }
    }
  @media (max-width: 479px) {
    .logo-container {
       }
      .logo-container img {
        width: 33px;
        height: 52px;
        margin: 0 3px 0 0; } }
  .logo-container a {
    display: block; }
  .logo-container img {
    float: left;
    margin: 0 13px 0 0; }
    @media (max-width: 639px) {
      .logo-container img {
        margin: 0 8px 0 0; } }
  .h-page .logo-container {
    width: 332px;
    height: 51px;
    margin: 0 26px 0 21px; }
    @media (max-width: 1319px) {
      .h-page .logo-container {
        width: 372px;
        margin: 0px 24px 0px 9px; } }
    @media (max-width: 1023px) {
      .h-page .logo-container {
        margin: -2px 26px 13px 2px;
        width: 369px; } }
    @media (max-width: 767px) {
      .h-page .logo-container {
        width: 360px;
        height: 55px;
        padding: 0;
        margin: 6px 26px 0 85px; } }
    @media (max-width: 479px) {
      .h-page .logo-container {
        height: 35px;
        margin: 10px 26px 4px 65px;
        width: 235px; } }
    .h-page .logo-container img {
      vertical-align: top; }
      @media (max-width: 767px) {
        .h-page .logo-container img {
          width: auto;
          height: auto; } }


.home-link {
	font-family: 'gt_walsheimmedium';
	color: $color__red;
	float: left;

	@include clearfix();

	a {
		color: $color__red;
		text-decoration: none;

		&:visited, &:hover {
			color: $color__red;
		}
	}

	span {
		display: block;
	}
}

#header .nav-area {
	transition: all 0.25s ease;
	top: 105px;

	& .btn-opener, & .btn-submit, & .nav-area input[type="search"] {
		display: block;
		width: 100%;
	}
}

@media (max-width: 1023px) {
      #header .nav-area .search-holder {
        display: block; } }
    @media (max-width: 767px) {
      #header .nav-area {
        overflow: hidden;
        left: -100%;
        position: fixed;
        z-index: 1000;
        // top: 71px;
        overflow-y: visible !important; }
        .nav-active #header .nav-area {
          background: #484f53;
          overflow-y: auto; } }
    @media (max-width: 639px) {
      #header .nav-area {
        // top: 71px;
        width: 100%; } }
    @media (max-width: 479px) {
      #header .nav-area {
        // top: 64px;
        bottom: 0; } }

.top-header {

  @include bp-small {
    display: none;
  }
}