html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: /*$color__background-body*/ #fff; /* Fallback for when there is no custom background color defined. */
	overflow-x: hidden;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";



// breadscrumbs 
.breadcrumbs {
	font-size: 0.8rem;
}

//  read more button
.btn-more {
	color: #fff;
	display: inline-block;
	background: $color__blue;
	font-family: 'gt_walsheimmedium';
	padding: 5px 25px;
	text-decoration: none;
	-webkit-transition: all ease 300ms;
	transition: all ease 300ms;

	a {
		color: #fff;
		text-decoration: none;

		&:after {
			content: ">";
			margin-left: 10px;
	    color: #fff;
	    font: 200 1.3rem/1 sans-serif;
		}

		&:hover, &:active {
			color: #fff;
		}
	}

	&:hover {
		color: #fff;
		background: lighten($color__blue, 20%);
	}
}