/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";
@import 'quicklinks-bar';

.logo-in-nav {
	display: none;
	z-index: 9999;

	@include clearfix();

	@include bp-small {
		display: block;
		position: absolute;
	}
}
.masthead-logo-in-nav {
	width: 109px;
	height: auto;

	.logo {
		fill: #fff;
	}
}
.wrap-nav {

	@include bp-small {
		position: relative;
	}

	@include bp-large {
		margin-right: 49px;
	}
}